input {
  width: 140px;
  margin: 10px;
}

select {
  margin: 10px;
}

.hidden {
  display: none;
}

.loading-mask {
  display: none;
  background-color: white;
  position: relative;
}

.overview-title {
  text-align: left;
}

.info-right {
  float: right;
}

.revenue-graph,
.stock-graph {
  text-align: justify;
}

#annual-revenue,
#quarterly-revenue,
#append1year,
#append5year {
  display: inline;
}
